<div>
    <ul>
        <li>
            <a href="http://localhost:4200/admin/viewItem">View Items</a>
            <a href="http://localhost:4200/admin/addItem">Add Items</a>
        </li>
    </ul>
</div>

<table class="table table-hover" style="border: solid 2px; margin-top: 10px; background-color: bisque">
  <thead style="border: solid">
  <tr style="font-weight: bold">
      <td style="border: solid">Item Name</td>
      <td style="border: solid">Item Price</td>
      <td style="border: solid">Item Quantity</td>
      <td style="border: solid">Item Tax</td>
      <td colspan="2" style="border: solid">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let item of items">
          <td style="border: solid">{{ item.item_name }}</td>
          <td style="border: solid">{{ item.item_price }}</td>
          <td style="border: solid">{{ item.item_quantity }}</td>
          <td style="border: solid">{{ item.item_tax }}</td>
          <!-- <td style="border: solid"><a [routerLink]="['/edit', item._id]" class="btn btn-primary" style="background-color: green; border-color: green">Edit</a></td>
          <td style="border: solid"><button (click)="deleteItem(item._id)"  class="btn btn-danger" style="background-color: black; border-color: black">Delete</button></td> -->
      </tr>
  </tbody>
</table>