.body{
    background: bisque;
    padding: 22px;
    height: -webkit-fill-available
}
.title{
    font-size: 16px;
    background: bisque;
    padding: 1%;
    margin: 1%;
}
h1{
    margin-block-start: 0%
}
.info{
    font-size: 24px;
    padding: 0%;
}
.name{
    cursor: pointer;
    font-size: 20px;
    color: dimgray;
}
.desc{
    display: none;
    font-size: 14px;
}
.links{
    margin-bottom: 2%;
    display: inline-flex;
    width: 100%;
    font-size: 22px;
}
ul{
    padding-inline-start: 0%;
    font-size: 18px;
}
#manager, #login, #register{
    color: blue;
    cursor: pointer;
    width: 33%
}
#register{
    text-align: left;
}
#manager{
    text-align: right;
}
#login{
    text-align: center;
}
#manager:hover, #login:hover, #register:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-size: 26px;
}
.name:hover .desc{
    display: block;
}
.margin{
    margin-bottom: 2%;
}