<div class="body">
  <h1>Shopping App</h1>
  <div class="links">
      <span id="register">
        <span [routerLink]="['/register']">Register</span> 
      </span>
      <span id="login">
        <span [routerLink]="['/login']">Login</span>
      </span>
      <span id="manager">
        <span [routerLink]="['/admin']">Manager Login</span>
      </span>
  </div>
  <p class="info">Welcome to our shopping web application. Here you can buy different products. Below are some popular set of products for you to take a look at.</p>
  <div class="items">
    <div class="margin" *ngFor="let item of items">
      <span class="name">{{item.item_name}}
        <p class="desc">{{item.item_desc}}</p>
      </span>
    </div>
  </div>
</div>

