
<div class="body">
    <div class="links">
            <span id="register" [routerLink]="['/admin/viewItem']">
                <span>View Items</span>
            </span>
            <span id="login" [routerLink]="['/admin/addItem']">
                <span>Add Item</span>
            </span>
            <span id="manager" [routerLink]="['/admin/viewUsers']">
                <span>View Users</span>
            </span>
     </div>

<table class="table">
<thead >
<tr style="font-weight: bold">
    <th id="heading" > ID</th>
    <th id="heading" > Name</th>
    <th id="heading" > Email</th>
    <th id="heading" >Username</th>
    <th id="heading" > Activate </th>
    <th id="heading" > Action </th>
    <th id="heading" > Action </th>
</tr>
</thead>

<tbody>
    <tr *ngFor="let user of users">
        <td >{{ user._id }}</td>
        <td >{{ user.name }}</td>
        <td >{{ user.email }}</td>
        <td >{{ user.username }}</td>
        <td >{{ user.activate }}</td>
        <td ><button (click)="deactivateUser(user._id)">Deactivate/Activate</button></td>
        <td ><button (click)="addToAdmin(user._id)">Add To Manager</button></td>
    </tr>
</tbody>
</table>
</div>